<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="GeoNamesConfig" type="Illallangi.GeoNames.PowerShell.GeoNamesConfig,Illallangi.GeoNames.PowerShell"/>
  </configSections>
  <GeoNamesConfig BaseUrl="http://api.geonames.org" UserName="demo" />
</configuration>